
.nav {
  list-style: none;
  background-color: dimgray;
}
.nav li {
  float: left;
}
.nav li a:hover {
  color: black;
}
.contextDiv .leftDiv {
  padding: 0px;
  margin: 0px;
  border-right: 1px solid gray;
}
.contextDiv .leftDiv .content {
  padding: 0px;
  margin: 0px;  
  border-bottom: 1px solid goldenrod;
}
.contextDiv .leftDiv .content .imgDiv{
  padding:1.5rem
}
.contextDiv .leftDiv .content .imgDiv img:hover{
  box-shadow: 5px 5px 10px 0px #cccfd3
}
.contextDiv .leftDiv .footer{   
   display: block
}
.contextDiv .rightDiv {
  padding: 0px;
  margin: 0px;  
}
.contextDiv .rightDiv .newStore .content{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.contextDiv .rightDiv .newStore .content .imgDiv{
  padding: 1.5rem
}
.contextDiv .rightDiv .newStore .content .imgDiv img:hover{
  box-shadow: 5px 5px 10px 0px #cccfd3
}
.contextDiv .rightDiv .newStore .content h4{
  margin-top: 10px;  
  padding:0px;
  margin-bottom: 0px
}
.contextDiv .rightDiv .newStore .content .context{
  margin-top:0px;  
  padding:0px;
  
}
