@media (max-width: 767px) {
    #box .contextDiv .leftDiv {
      padding: 0px;
      margin: 0px;          
    }
    .contextDiv .leftDiv .content {
        padding: 0px;
        margin: 0px;        
        border-bottom: 1px solid goldenrod;
        
      }
}
/* 适应平板和电脑 */
@media (min-width: 992px){
    #box .navDiv .mark{
        display: none
    }
    #BackBox .leftDiv{   
        padding: 0;
        margin: 0;    
        border-right: 1px solid grey;   
        background-color: darkgray;
        height:73.7rem;
        }
 }
 /* 手机 */
@media screen and (min-width: 0px) and (max-width: 767px){
   #box .contextDiv .leftDiv{
       border-right: 0
   }
   #box .navDiv .nav {
       display: none
   }
   #box .navDiv .mark{
       font-size: 20px;
       text-align: left;
       background-color:grey
   }
   #box .navDiv .mark:hover{
        cursor: pointer;
        color: blanchedalmond
   }
   #BackBox .leftDiv{   
        padding: 0;
        margin: 0;    
        border-right: 1px solid grey;       
    }
    #BackBox .leftDiv .imgDiv{
        display: none
    }
}
